body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #E8F6EF;
 
}
h1{
    color: #0C134F;
    margin: 0;
    font-size: 90px;
   font-family: 'Sacromento', cursive;
   line-height: 2;
}
    

   h2{
    color: #0C134F;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
    font-size: xx-large;
   
   
   } 
   h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    
   }
   p{
    line-height: 2;
   }
   hr{
    border: dotted white 6px;
    border-bottom: none;
    width: 4%;
   }
   .contact{
    width: 40%;
    margin:40px auto 60px;
    font-size: larger;
   }
    
   .div{
    background-color: aquamarine;
   }
   a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
   }
   a:hover{
    color: #EAF6F6;
   }
   .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
   }
    
    
    .middle-container{
        margin: 100px 0;
        font-family: ;
      
      
    
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
    font-size: x-large ;
  }
  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
  }
  .code-img{
    width: 30%;
    height: 25%;
   
    float: left;
    margin-right: 30px;
  }
  .code{
    font-size: larger;
    clear: left;
  }
  .intro{
    width: 30%;
    margin: auto;
    font-size: larger;
  }
  .btn {
    background: #4ab7ff;
    background-image: -webkit-linear-gradient(top, #4ab7ff, #5192c4);
    background-image: -moz-linear-gradient(top, #4ab7ff, #5192c4);
    background-image: -ms-linear-gradient(top, #4ab7ff, #5192c4);
    background-image: -o-linear-gradient(top, #4ab7ff, #5192c4);
    background-image: linear-gradient(to bottom, #4ab7ff, #5192c4);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #16e0ad;
    background-image: -webkit-linear-gradient(top, #16e0ad, #138999);
    background-image: -moz-linear-gradient(top, #16e0ad, #138999);
    background-image: -ms-linear-gradient(top, #16e0ad, #138999);
    background-image: -o-linear-gradient(top, #16e0ad, #138999);
    background-image: linear-gradient(to bottom, #16e0ad, #138999);
    text-decoration: none;
  }

  
  
  
  